<div class="text-center">
  <article class="product light">
    <figure class="figure-hover-overlay">
      <a href="#"  class="figure-href"></a>
      <a href="#" class="product-compare"><i class="fa fa-random"></i></a>
      <a href="#" class="product-wishlist"><i class="fa fa-heart-o"></i></a>
      <%= product_image(product,class: "img-responsive")%>

    </figure>
    <div class="product-caption">
      <div class="block-name">
        <%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %>
        <p class="product-price"><%= product.display_price %></p>

      </div>
      <div class="product-cart">
        <a href="<%= product_path(product) %>"><i class="fa fa-shopping-cart"></i> </a>
      </div>
      <div class="product-rating">
        <div class="stars">
          <span class="star"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
        </div>
        <a href="" class="review">8 Reviews</a>
      </div>
      <p class="description"><%= truncate(product.description, :length => 200)%></p>
    </div>

  </article>
</div>