<style>
    #subheader{
        margin-top: 2%;
    }
</style>
<section>
  <div class="top-header-bg"></div>
</section>
<section>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="main-category-block ">
            <div class="main-category-title">
              <i class="fa fa-list"></i>
              <a style="color: white;" href="<%= products_path %>">Products</a>
            </div>
            <nav class="main-category-items">
              <ul class="main-category-list list-unstyled">
                <% @sample_products.each do |product|  %>
                <li class="with-dropdown">
                  <a href=""><i></i><%= truncate(product.name, :length => 150) %></a>
                  <div class="dropdown-menu fadeInUp animated menu1">
                    <ul class="list-unstyled">
                      <li><h4><%= truncate(product.name, :length => 350) %></h4></li>
                      <li>
                        <div class="widget-block">
                          <div class="row">
                            <div class="col-md-4 col-sm-2 col-xs-3">
                              <%= product_image(product,class: "img-responsive sample-product-image")%>
                            </div>
                            <div class="col-md-8 col-sm-10 col-xs-9">
                              <div class="block-name">
                                <a href="<%= product_path(product) %>"> <%= product.name %></a>
                                <div class="product-order-form">
                                  <%= form_for :order, :url => populate_orders_path do |f| %>
                                    <span class="product-price">
                                      <%= product.display_price %>
                                    </span>
                                      <%= number_field_tag :quantity, 1, :class => 'title', :in => 1..Spree::Stock::Quantifier.new(product.master).total_on_hand, :min => 1 %>
                                      <%= hidden_field_tag :variant_id, product.master.id %>
                                      <%= button_tag :id => 'add-to-cart-button', :type => :submit do %>
                                          <%= content_tag(:i, '', :class => '') + " " + Spree.t(:add_to_cart) %>
                                      <% end %>
                                  <% end %>
                                </div>

                              </div>
                              <div class="product-rating">
                                <div class="stars">
                                  <span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
                                </div>
                                <a href="" class="review">8 Reviews</a>
                              </div>
                              <p class="description"><%= truncate(product.description, :length => 250) %></p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                      <% end %>

                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <%= render 'slider' %>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="color-scheme-white-90 ">
    <div class="container">
      <div class="header-with-icon">
        <i class="fa fa-tags"></i> Featured Products
        <div class="toolbar-for-light" id="nav-bestseller">
          <a href="javascript:;" data-role="prev" class="prev"><i class="fa fa-angle-left"></i></a>
          <a href="javascript:;" data-role="next" class="next"><i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <div id="owl-bestseller"  class="owl-carousel">
        <% @featured_products.each do |product| %>
            <%= render 'product', :product => product %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section>
<div class="color-scheme-white-90">
<div class="container">
<div class="block-product-tab">
<div class="tab-bg"></div>
<div class="toolbar-for-light" id="nav-tabs">
  <a href="javascript:;" data-role="prev" class="prev"><i class="fa fa-angle-left"></i></a>
  <a href="javascript:;" data-role="next" class="next"><i class="fa fa-angle-right"></i></a>
</div>
<ul class="nav nav-pills">
  <li class="active"><a href="#new" data-toggle="tab">New Arrivals</a><div class="header-bottom-line"></div></li>
</ul>
<div class="tab-content">
<div class="tab-pane active animated fadeIn" id="new">
  <div id="owl-new"  class="owl-carousel">
    <% if @latest_products %>
            <% @latest_products.sort_by{ |product| product.created_at }.reverse.each do |product| %>
                <div class="text-center">
                  <article class="product light">
                    <figure class="figure-hover-overlay">
                      <a href="#"  class="figure-href"></a>
                      <div class="product-new">new</div>
                      <a href="#" class="product-compare"><i class="fa fa-random"></i></a>
                      <a href="#" class="product-wishlist"><i class="fa fa-heart-o"></i></a>
                      <%= product_image(product,class: "img-responsive")%>
                    </figure>
                    <div class="product-caption">
                      <div class="block-name">
                        <%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %>
                        <p class="product-price"><%= product.display_price %></p>

                      </div>
                      <div class="product-cart">
                        <a href="<%= product_path(product) %>"><i class="fa fa-shopping-cart"></i> </a>
                      </div>
                    </div>
                  </article>
                </div>
            <% end %>
    <% end %>

  </div>
</div>


</div>

</div>
</div>
</div>
</section>


<section>
  <div class="color-scheme-white-90">
    <div class="container">
      <div class="row">
        <article class="col-md-4">
          <div class="widget-title">
            <i class="fa fa-thumbs-up"></i> Bestseller
          </div>
          <% product = @featured_products.first %>
              <div class="widget-block">
                <div class="row">
                  <div class="col-md-4 col-sm-2 col-xs-3">
                    <%= product_image(product,class: "img-responsive")%>
                  </div>
                  <div class="col-md-8 col-sm-10 col-xs-9">
                    <div class="block-name">
                      <a href="<%= product_path(product) %>"> <%= product.name %></a>
                      <p class="product-price"><%= product.display_price %></p>

                    </div>
                    <div class="product-rating">
                      <div class="stars">
                        <span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span><span class="star active"></span>
                      </div>
                      <a href="" class="review">8 Reviews</a>
                    </div>
                    <p class="description"><%= truncate(product.description, :length => 250) %></p>
                  </div>
                </div>
              </div>
        </article>
        <article class="col-md-4">
          <div class="widget-title">
            <i class="fa fa-user"></i> Our Store
          </div>
          <p>
            <span class="dropcap">FSSAI</span>
            Our products are certified by ,
            The Food Safety and Standards Authority of India (FSSAI)
          </p>
          <blockquote>
            We have committed to deliver good products to the world and our mission to provide best quality
            products to the society.
          </blockquote>
        </article>
        <article class="col-md-4">
          <div class="widget-title">
            <i class="fa fa-thumbs-up"></i> Services
          </div>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                    Health and wellness
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                We believe "Food As Medicine".When you think how to make a healthy food  call us we are here to help you.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                    Packing your request
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  We allows you to request the intercept of packages prior to delivery,
                  providing greater flexibility in managing your shipping need.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                    Send as Gift
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  Send a Gift. You can send most items to different shipping addresses by specifying the name and
                  shipping address of each recipient when you place your order.
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

    </div>
  </div>
</section>